@model WishList.Models.Item

<h3>Add items to Wishlist</h3>
<form asp-action="Create">
    <input asp-for="Description"/>
    <span asp-validation-for="Description"></span>
    <button type="submit">Add item</button>

</form>